.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Αυτή η κλάση θα προστεθεί στην περιοχή περιεχομένου */
.content-area {
  flex: 1; /* Αυτό επιτρέπει στο περιεχόμενο να γεμίζει τον διαθέσιμο χώρο */
  margin: 30px;
}
